*{
  padding: 0;
  margin: 0;
  
}

.textured-background {
  background-image: url('bumaga2.jpg');
  background-size: cover; /* Масштабирует изображение на весь элемент */
  background-repeat: repeat; /* Повторяет изображение, если оно меньше элемента */
  background-position: center; /* Центрирует изображение */
  /* opacity: 0.6; */
}
body{
    background-color: rgb(3, 106, 7);
    background: linear-gradient(rgb(200, 255, 0), rgb(0, 81, 0));
}

a {
    text-decoration: none;
  }
.square {
   background-image: url('bumaga2.jpg');
  background-size: cover; /* Масштабирует изображение на весь элемент */
  background-repeat: repeat; /* Повторяет изображение, если оно меньше элемента */
  background-position: center;
    display: flex;
  
  height: 7em;
  border: 5px solid #000; 
  background-color: rgb(77, 77, 77);
  color: chartreuse;
font-size: 2em;



}
.login-box{
  margin-left: 7em;
  width: 100%;
}

.card{
  display: flex;
  padding: 12px;
  margin: 4em;
}

.card p{
  
font-size: 2em;
  margin: 4em;
  
}
.square3 p{
font-size: 2em;
  margin-right: 4em;
  margin-left: 4em;
  margin-top: 4em;
}

.square2 {
    /* margin-top: 10%;
    margin-left: 250px; */
  width: 300px;
  height: 500px;
  


}

.Resident{
  margin-left: 200px;
}
.Resident:hover {
     
      transform: scale(1.05);
    
  margin-left: 200px;
}
.reanimal{
  margin-left: 200px;
}
.square3 {
    margin-top: 100px;
    margin-left: 800px;
  width: 300px;
  height: 500px;

}
.square4 {
    margin-top: 0px;
    margin-left: 250px;
    margin-bottom: 78000;
  width: 300px;
  height: 600px;
}
.square5 {
    margin-top: 100px;
    margin-left: 50px;
  width: 300px;
  height: 500px;

}.square6 {
    margin-top: 100px;
    margin-left: 200px;
  width: 300px;
  height: 500px;
  border: 5px solid #000;
}
.large-link1 {
  font-size: 54px;
color: rgb(0, 242, 255);}

  .large-link2 {
  font-size: 54px;
color: rgb(187, 45, 45);}

  .large-link3 {
  font-size: 54px;
color: #000;}


.button{
  border-radius: 70%;
  border: none;
   background-image: url('karton2.jpg');
  background-size: cover; /* Масштабирует изображение на весь элемент */
  background-repeat: repeat; /* Повторяет изображение, если оно меньше элемента */
  background-position: center;
  height: 10em;
  width: 39em;
  margin-left:90em;
  font-size:45%;
  margin-top:2em ;
  background-color: rgba(28, 74, 41, 0.638);
transition:background-image 0.5s ease;
}
.button:hover {
  background-image: url('шрек.jpg');
  color: aliceblue;
}
.footer{
  
  background-color: #2d4812;
  text-align: center;
 
 
  height: 2em;
  width: 100%;
  padding-top: 1%;
  

}
