@keyframes a1{
    from{
    background-color: red;
    }
    to{
        background-color: blue;
        
    }
    
}

@keyframes a2{
    0%{
        background-color: red;
    }
    50%{
        background-color: blue;
        width: 500px;
    }
    100%{
        background-color: green;
        height: 500px;
    }
}
@keyframes b1{
    from{
    background-color:red;
    }
    to{
        background-color: red;
    }
       
    }

@keyframes z2{
    0%{
        background-color: red;
        transform:scale(1);
    }
    20%{
        background-color: red;
        border-radius: 100%;
      transform:scale(1.5);
    }
    40%{
        background-color: orange;
        width:300px;
        height: 100px;
        border-radius: 100%;
        transform:scale(1);
        transform: skew(20deg, 30deg);
        transform: rotate(180deg);
    }
    60%{
        background-color: orange;
        height: 300px;
        border-radius: 100%;
        transform:scale(1.5);
        transform: translate(50px, 50px);
    }
    80%{
        background-color: red;
        height: 300px;
        width: 300px;
        border-radius: 0%;
        transform:scale(1);
        transform: rotate(360deg);
    }
    100%{
         background-color: red;
         height: 100px;
         width: 100px;
        transform:scale(1.5); 
    }
    
}

@keyframes s3{
        10%{
            background-color: orange;
            transform: rotate(180deg);

        }
        20%{
            background-color: blueviolet;
            transform: rotate(360deg);

        }
       30%{
        background-color: orange;
        transform: rotate(180deg);
        transform: translate(50px, 50px);

       }
       40%{
        background-color:blueviolet;
        transform: rotate(360deg);

       }
    }

@keyframes jump{
    
}

.block{
    height:100px;
    width:100px;
    animation-name: z2;
    animation-iteration-count: infinite;
    animation-duration: 5s;

}
.block2{
    height: 100px;
    width: 100px;
    animation-name: s3;
    animation-iteration-count: infinite;
    animation-duration: 5s;

}


.block3{
    height: 100px;
    width: 100px;
    animation-name: a3;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}



        
